<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <title>DevBurger</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/home.css" />

    <script src="/js/home.js" defer></script>
</head>

<body>
    <header>
        <h1>DevBurger 🍔</h1>
        <nav>
            <a href="/">Início</a> |
            <a href="/contato">Contato</a> |
            <a href="/api/lanches">API</a>
        </nav>
    </header>

    <main>
        <div class="parent">
            <div class="div1">
                <form action="/sugestao" method="post" autocomplete="off">
                    <label for="nome">Nome do lanche:</label><br />
                    <input type="text" id="nome" name="nome" required minlength="3" maxlength="50" /><br /><br />

                    <label for="ingredientes">Ingredientes:</label><br />
                    <textarea id="ingredientes" name="ingredientes" required minlength="10"
                        maxlength="300"></textarea><br /><br />

                    <button type="submit">Enviar sugestão</button>
                </form>

            </div>
            <div class="div2">🍔</div>
            <div class="div3">🍔</div>
            <div class="div4">🍔</div>
            <div class="div5">🍔</div>
            <div class="div6">🍔</div>
            <div class="div7">🍔</div>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 VLtim43. Todos os direitos reservados.</p>
    </footer>
</body>

</html>