<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <title>DevBurger</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/home.css" />

    <script src="/js/home.js" defer></script>
</head>

<body>
    <header>
        <div class="header">
            <h1> 🍔 DevBurger </h1>
            <nav>
                <a href="/">Início</a> |
                <a href="/contato">Contato</a> |
                <a href="/api/lanches">API</a>
            </nav>
        </div>
    </header>

    <main>
        <section>
            <div class="grid_container">
                <div class="wide-item">Form</div>

                <div class="card">🍔</div>
                <div class="card">🍔</div>
                <div class="card">🍔</div>
                <div class="card">🍔</div>
                <div class="card">🍔</div>
                <div class="card">🍔</div>
            </div>
        </section>

    </main>



</body>

</html>