<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <title>DevBurger</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/home.css" />

    <script src="/js/home.js" defer></script>
</head>

<body>
    <header>
        <div class="header">
            <h1> 🍔 DevBurger </h1>
            <nav>
                <a href="/">Início</a> |
                <a href="/contato">Contato</a> |
                <a href="/api/lanches">API</a>
            </nav>
        </div>
    </header>

    <main>
        <section>
            <div class="grid_container">
                <div class="item wide_item">
                    <form class="form" action="/sugestao" method="get" autocomplete="off">
                        <h3>🍔 Sugira um Lanche</h3>
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" id="nome" name="nome" required minlength="3" maxlength="50" />
                        </div>
                        <div class="form-group">
                            <label for="ingredientes">Ingredientes:</label>
                            <textarea id="ingredientes" name="ingredientes" required minlength="5"
                                maxlength="300"></textarea>
                        </div>
                        <button type="submit">Enviar</button>
                    </form>
                </div>

                <div class="item card">🍔</div>
                <div class="item card">🍔</div>
                <div class="item card">🍔</div>
                <div class="item card">🍔</div>
                <div class="item card">🍔</div>
                <div class="item card">🍔</div>
            </div>
        </section>

    </main>

</body>

</html>