section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.grid_container {
    display: grid;
    width: 100%;
    max-width: calc(300px * 4 + 2rem * 3);
    margin: 0 auto;
    padding-top: 3rem;
    gap: 2rem;

    grid-template-columns: repeat(auto-fit,
            minmax(240px, 1fr));
}


.wide-item {
    background-color: lightcoral;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;

    height: 100%;
    aspect-ratio: 8 / 5;
    grid-column: span 2;
    box-sizing: border-box;
}

.card {
    background-color: lightblue;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    height: 100%;

    width: 100%;
    aspect-ratio: 4 / 5;

    box-sizing: border-box;
}