body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #F2D2BD;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 10px;
    font-weight: bold;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #F2D2BD;
    color: white;
    text-align: center;
    padding: 15px;
}