body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background: hsla(43, 100%, 74%, 1);

    background: linear-gradient(135deg, hsla(43, 100%, 74%, 1) 27%, rgb(255, 202, 122) 100%);
    background: -moz-linear-gradient(135deg, hsla(43, 100%, 74%, 1) 27%, hsla(36, 100%, 74%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(43, 100%, 74%, 1) 27%, hsla(36, 100%, 74%, 1) 100%);

}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


main {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;

}