body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



main {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;}

footer {
    background-color: #F2D2BD;
    color: white;
    text-align: center;
    padding: 15px;
}